#queryForm {
  position: relative;
  width: 100%;
  max-width: 1200px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 12px 4px 2px 4px;
  margin: auto;
  box-shadow: none;

  .errorText {
    position: absolute;
    width: 100%;
    justify-self: center;
    color: var(--danger);
    text-align: center;
    font-size: 12px;
    padding: 2px 0;
    top: -6px;
  }
}
