#details {
  width: 100%;
  height: calc(100% - 64px);
  border: 10px solid var(--primary);
  border-top: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 8px;

  h2 {
    text-align: center;
  }
}
